<%- include('includes/head.ejs') %>
    <%- include('includes/navContact.ejs') %>

        <div class="container">
            <div>
                <h1 class="agendaH1">Contato</h1>
                <p class="agendaP">Crie ou edite o seu contato abaixo.</p>
            </div>
        </div>
        <div class="spacing"></div>


        <%- include('includes/messages'); %>
            <div class="formContainer">
                <% if(contato._id) { %>
                    <form action="/contato/edit/<%= contato._id %>" method="POST">
                        <% } else { %>
                            <form action="/contato/register" method="POST">
                                <% } %>
                                    <div class="form-group">
                                        <label for="name">Nome</label>
                                        <input value="<%= contato.nome %>" type="text" name="nome">
                                    </div>
                                    <div class="form-group">
                                        <label for="sobrenome">Sobrenome</label>
                                        <input value="<%= contato.sobrenome %>" type="text" name="sobrenome">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input value="<%= contato.email %>" type="email" name="email">
                                    </div>

                                    <div class="form-group">
                                        <label for="tel">Telefone</label>
                                        <input value="<%= contato.telefone %>" type="tel" name="telefone">
                                    </div>
                                    <div class="spacing"></div>
                                    <button class="contactButton">Salvar</button>
                            </form>
            </div>
            </div>
            <%- include('includes/fotter.ejs') %>